div#facetedcalendar-container {
    clear: both;
}

div#facetedcalendar-parameters {
    float: right !important;
    width: 20%
}

div.facetedcalendar-calendar {
    float: left;
    width: 79%
}

.faceted-parameters-box-heading {
    float: left;
}

a#facetedcalendar-config {
    float: right;
}
